@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme {
    --font-Dancing: "Dancing Script", "cursive";
    --font-Playfair:  "Playfair Display", "serif";
    --animate-slowSpin: slowSpin 5s linear infinite;

    @keyframes slowSpin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    @keyframes slide {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%); /* Moves the entire content out of view */
        }
      }
}

.activities-container {
  overflow: hidden;
  position: relative;
}

/* Wrapper to hold all the activities */
.activities {
  display: flex;
  width: 100%;
  animation: slide 10s infinite linear; /* Slide animation */
}

/* Individual activity item */
.activity {
  padding: 0 2px;
  font-size: 12px;
  /* white-space:nowrap; */
  display: inline-block;
}